@import '../mixins.styl';

.container
  width 300px
  min-height 100px
  display flex
  flex-direction column
  margin 10px
  .container__title
    align-self flex-start
    transform translate(15px, 0)
    font-weight 400
    font-size textFontSize + 0.2rem
    color letter
  .container__box
    display flex
    align-items center
    justify-content center
    width 100%
    min-height 100px
    margin auto
    border-radius 25px
    background icon-blue
