.section 
  display flex
  align-items center
  width 65%
  margin  38px 0 22px 13px
  .section__icon
    font-size 2rem
    margin-right 15px
    justify-self flex-end
    align-self center
    color button-blue
  .section__title
    align-self center
    font-weight 600
    color white
