.container__text
  display flex
  align-items center
  justify-content space-around
  max-width 225px
  overflow hidden

.text__request
  width 100%
  margin-right 10px
  color white
  font-size textFontSize - 0.2
  font-weight 200

.text__request--mode
  font-weight 300
  color letter

.input__request
  width 30%
  border-bottom 1px solid letter
  input
    width 100%
    border none
    outline none
    background transparent
    color letter
    font-family main-font
    font-size textFontSize
    font-weight 300

.container__btn
  border none
  outline none
  background transparent
  margin-left 10px
  .btn__icon
    font-size 15px
    color letter