.response__container
  display flex
  flex-direction column
  align-items center

.responseText
  margin-bottom 10px
  font-size textFontSize
  color white

.responseText__button
  font-family inherit
  font-size subTextFontSize
  color letter
  border none
  outline none
  background transparent