.shapesInput__label
  font-size textFontSize
  color letter

.shapesInput__input
  margin-left 10px
  width 50px
  background transparent
  font-family inherit
  font-size textFontSize
  color white
  border none
  border 1px solid letter
  outline none
