@import '../mixins.styl'
@import './CalcMode.styl'
@import './InputBox.styl'
@import './ShapesInput.styl'

.squareMain
  fixBody()
  animation-name left-transition
  animation-duration 0.4s

leftAnimation()