@import './globals.styl'
@import './mixins.styl'
@import './components/Average.styl'
@import './components/InputItems.styl'
@import './components/ResponseText.styl'
@import './components/GridNumberBox.styl'
@import './components/NumberBox.styl'