@import './globals.styl'
@import './components/GeoShapes.styl'
@import './components/Header.styl'
@import './components/Box.styl'
@import './components/SmallList.styl'
@import './components/SmallListBox.styl'
@import './components/GeometricShapesResult.styl'
@import './components/ButtonCalc.styl'
@import './components/Footer.styl'