// Mixins
fixBody()
  height fit-content
  display flex
  flex-direction column
  align-items center
  justify-content flex-start

leftAnimation()
  @keyframes left-transition {
    0% {
      transform translateX(100vw)
    }
    100% {
      transform translateX(0)
    }
  }

leftAnimationOut()
  @keyframes left-transition-out {
    0% {
      transform translateX(0)
    }
    100% {
      transform translateX(-100vw)
    }
  }