// Fonts Properties
main-font = 'Manrope', sans-serif
titlesFontSize = 2.6rem
textFontSize = 1.6rem
subTextFontSize = 1.2rem

// Main colors
backg-blue = #201F3D;
icon-blue = #42417F;
button-blue = #7675E5;
elegant-black = #2A2933;
soft-gray = #535266;
letter = #F0D654;

// Animations
keyframe-name = left-transition
